.create-room__btn {
  width: 25%;
  height: 3rem;
  background-color: rgb(66, 66, 158);
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

.create-room__btn:hover {
  background-color: rgb(151, 151, 224);
}
